body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
a{
    color: #3a8383;
}
header{
    background-color: #3a8383;
    color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 30px;
}
article{
    background-color: #f6f6e7;
    max-width: 850px;
    margin: auto;
    padding: 8px;
    padding-top: 40px;
}
.post-author{
    color: #6c6c6c;
    font-size: 12px;
    line-height: 18px;

}
.share-post, 
.links-title{
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
}

.share-post span{
margin-right: 4px;
}
.share-post img{
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
.links-title{
margin-bottom: 12px;
}

.uppercase{
    text-transform: uppercase;
}
.hero-image{
    margin: 50px 0;
    text-align: center;
    
}
.hero-image img{
    max-width: 100%;
}
h1{
    margin: 0;
    margin-bottom: 10px;
    font-size: 40px;
    /* letter-spacing: 0.8px; */
    line-height: 58px;
}

article p{
    font-size: 16px;
    line-height: 24px;
}

#content-section{
    max-width: 680px;
    margin: auto;
}
iframe{
    margin: 50px 0;
    max-width: 100%;
}
footer{
    background-color: #f1f1f1;
    max-width: 836px;
    margin: auto;
    padding: 15px 15px;
    margin-bottom: 70px;
}
footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer a{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}
footer ul li{
    margin-bottom: 12px;
}

footer ul li:last-of-type{
    margin-bottom: 0;
}